
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

nav.navbar {
    display: flex;
    background:linear-gradient(to right, #ffffff, #0060fa );
    height: 100%;
}

.navbar-nav {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
    margin-right: 90px;
    font-size: 18px;
    font-weight: 700;
}

.navbar-nav a {
    display: flex;
    max-width: 100px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.navbar-nav a:hover {
    border-bottom-style:solid;
    padding: 0;
    color: rgb(233, 236, 16);
}

.container-fluid img {
    display: flex;
    width: 130px;
    height: 70px;
    border-radius: 1rem;
    margin-left: 90px;
    background-repeat: space;
    
}

body {
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
}

footer {
    /* display: flex; */
    width: 100%;
    height: 200px;
    background:linear-gradient(to right, #ffffff, #0060fa );
    position: static ;
    bottom: 0;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.redesocial {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 3rem;
}

.redesocial img {
    display: flex;
    width: 25px;
    height: 25px;
}

.redeText {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    gap: 0.5rem;
}

.display-6 {
    border-bottom-style:solid;
    color: #013ea0;
    font-weight: 700;
    font-size: 32px;
}

.botaoWhats {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
    
}

.botaoWhats a:hover {
    opacity: unset;
    width: 120px;
    height: 110px;
}

.botaoWhats a {
    display: flex;
    width: 100px;
    height: 100px;
    z-index: 1;
    position: fixed;
    opacity: 0.5;
}

/* ===============Conteudo index============= */



div.banner {
    display: flex;
    max-height: 70vh;
    margin-bottom: 3vh;
}

div.banner img {
    width: 100%;
    max-height: 100% ;
}

section.index {
    margin: 0 auto;
    height: auto;
}

.iea {
    display: flex;
    border-radius: 1rem;
    box-shadow: 20px 20px 50px -30px #0060fa;
}

.equipe {
    display: flex;
    margin-top: 3vh;
    max-width: 720px;
    height: 450px;
}

.equipe img {
    border-radius: 1rem;
    width: 100%;
}

.locais {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.residencia:hover {
    display: flex;
    transform: translateY(-50px);
    border-radius: 1rem;
    background: linear-gradient(to right, rgb(233, 236, 16), rgb(241, 241, 216) );
}

.empresa:hover {
    display: flex;
    transform: translateY(-50px);
    border-radius: 1rem;
    background: linear-gradient(to right, rgb(241, 243, 152), rgb(219, 219, 82) );
}

.fazenda:hover {
    display: flex;
    transform: translateY(-50px);
    border-radius: 1rem;
    background: linear-gradient(to right, rgb(241, 243, 152), rgb(230, 230, 26) );
}

.locais img {
    display: flex;
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
}

/* ===========================portfolio============================ */

.portfolio {
    display: flex;
}



/* /* ==============================sobre====================== */


.sobre {
    display: flex;
    width: 100%;
    height: 300vh;
}

.mapa {
    display: flex;
    margin-top: 8rem;
    width: 100%;
}



/* ====================responsivo======================== */

@media screen and (max-width: 986px) {

    section.index {
        margin: auto;
        height: 550vh;
    }


    footer {
        display: flex;
        position:fixed;
        bottom: 0;
    }


    .container-fluid img {
        display: flex;
        width: 120px;
        height: 90px;
        border-radius: 1rem;
        margin-left: 10px;
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .locais {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        flex-direction: column;
    }

    .locais img {
        width: 170px;
    }

    .residencia:hover {
        display: flex;
        transform: translateY(-50px);
        border-radius: 1rem;
        background: linear-gradient(to right, rgb(233, 236, 16), rgb(241, 241, 216) );
    }
    
    .empresa:hover {
        display: flex;
        transform: translateY(-50px);
        border-radius: 1rem;
        background: linear-gradient(to right, rgb(241, 243, 152), rgb(219, 219, 82) );
    }
    
    .fazenda:hover {
        display: flex;
        transform: translateY(-50px);
        border-radius: 1rem;
        background: linear-gradient(to right, rgb(241, 243, 152), rgb(230, 230, 26) );
    }



}

